* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin:0;
    background: black
}

input {
    width: 100vw;
    height: 100vh;
    border: none;
    border-bottom: 1px solid blue;
}

